[data-theme='nightmarket'] {
	--text-scaling: 1.025;

	--base-font-color: var(--color-surface-950);
	--base-font-family: inter, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;

	--heading-font-color: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;

	--anchor-font-color: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;

	--spacing: 0.25rem;
	
	--radius-base: 0.325rem;
	--radius-container: 0.75rem;

	--default-border-width: 0.1rem;
	--default-divide-width: 0.1rem;
	--default-ring-width: 0.1rem;

	--color-primary-50: #ffebc5;
	--color-primary-100: #fce6b1;
	--color-primary-200: #f9e19d;
	--color-primary-300: #f7db88;
	--color-primary-400: #f4d674;
	--color-primary-500: #f1d160;
	--color-primary-600: #e6bc4f;
	--color-primary-700: #dca83d;
	--color-primary-800: #d1932c;
	--color-primary-900: #c77f1a;
	--color-primary-950: #bc6a09;

	--color-secondary-50: #f2ccf2;
	--color-secondary-100: #e9bfe9;
	--color-secondary-200: #e0b1e1;
	--color-secondary-300: #d8a4d8;
	--color-secondary-400: #cf96d0;
	--color-secondary-500: #c689c7;
	--color-secondary-600: #a56eab;
	--color-secondary-700: #84538e;
	--color-secondary-800: #633972;
	--color-secondary-900: #421e55;
	--color-secondary-950: #210339;

	--color-success-50: #c6ffe1;
	--color-success-100: #a7e1c2;
	--color-success-200: #87c3a4;
	--color-success-300: #68a685;
	--color-success-400: #488867;
	--color-success-500: #296a48;
	--color-success-600: #215e3e;
	--color-success-700: #195234;
	--color-success-800: #12452b;
	--color-success-900: #0a3921;
	--color-success-950: #022d17;

	--color-warning-50: #fccfa4;
	--color-warning-100: #fcc28c;
	--color-warning-200: #fcb674;
	--color-warning-300: #fca95d;
	--color-warning-400: #fc9d45;
	--color-warning-500: #fc902d;
	--color-warning-600: #e07a24;
	--color-warning-700: #c3641b;
	--color-warning-800: #a74d12;
	--color-warning-900: #8a3709;
	--color-warning-950: #6e2100;

	--color-error-50: #ffd3d1;
	--color-error-100: #f8bdba;
	--color-error-200: #f0a7a3;
	--color-error-300: #e9918d;
	--color-error-400: #e17b76;
	--color-error-500: #da655f;
	--color-error-600: #d1564f;
	--color-error-700: #c8463f;
	--color-error-800: #bf3730;
	--color-error-900: #b62720;
	--color-error-950: #ad1810;

	--color-surface-50: #e8e8fd;
	--color-surface-100: #bfbfd4;
	--color-surface-200: #9595ac;
	--color-surface-300: #6c6c83;
	--color-surface-400: #42425b;
	--color-surface-500: #191932;
	--color-surface-600: #15152d;
	--color-surface-700: #111128;
	--color-surface-800: #0c0c23;
	--color-surface-900: #08081e;
	--color-surface-950: #040419;
}

